.DS_Store

astro-site/node_modules
astro-site/dist
astro-site/.astro
astro-site/.vercel

sanity-studio/node_modules
sanity-studio/dist
sanity-studio/.sanity
.env
.env.local

studio-pisom/node_modules
studio-pisom/.sanity
studio-pisom/.env
studio-pisom/.env.local
studio-pisom/.vercel
